form#schedule_form.table.form-list(action='/delete', method='POST', role='form')
    div.table-responsive: table#schedule_table.table.table-hover.table-striped
            thead
                tr
                    th id
                    th Train
                    th Route
                    th Run
                    th Operator
                    th Delete
                    th Edit

            tbody


    .pull-right
        .btn-toolbar
            button#add_rows(type="button").btn.btn-success Add
            button#delete_rows(type="button").btn.btn-danger.disabled Delete
                        