extends layout

block content
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .pull-left
                    h1= title
                .pull-right
                    form(action="/upload", method="post", enctype="multipart/form-data")
                        input(type="file", accept=".csv" name="displayImage")
                        button(type="submit") Submit
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .text-center Status Updates

        .row
            include tables/traintable
