extends layout

block content
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .pull-left
                    h1= title
                .pull-right
                    form(action="/upload", method="post", enctype="multipart/form-data")
                        span.btn.btn-success.btn-file
                            i.glyphicon.glyphicon-plus
                            span  Upload CSV
                            input#file_upload(type="file", accept=".csv" name="uploadCSV")
        include status
        #schedule_container.row
            include tables/traintable
