doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')


    <!--link(rel='stylesheet', href='/stylesheets/style.css')-->
  body
    block content
    script(src="/jquery/jquery-2.1.1.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/uploader/js/vendor/jquery.ui.widget.js")
    script(src="/uploader/js/jquery.iframe-transport.js")
    script(src="/uploader/js/jquery.fileupload.js")